<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asimov.sportroutes">

    <!-- Los permisos COARSE, FINE, INTERNET inicialmente se añaden para obtener la localización. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".activities.MainActivity">
            <intent-filter android:label="Cluster09">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            La clave del api de GoogleMaps está definida como un recurso en "values".
            Ruta = "res/values/google_maps_api.xml"
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!-- El activity que contiene el mapa donde mostraremos rutas. -->
        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activities.ConfirmarRuta" />
        <activity android:name=".activities.OpcionesActivity" />
        <activity android:name=".activities.ListaDeRutasActivity" />
        <activity android:name=".activities.VerRutaActivity" />
        <activity
            android:name=".activities.RealizarRuta"
            android:label="@string/title_activity_realizar_ruta"/>
        <activity android:name=".activities.ActivityPermisos"/>
        <activity android:name=".activities.HowToActivity"/>
        <activity android:name=".activities.AboutUs"/>
    </application>

</manifest>
